<!-- social_icons.html -->
<div class="social-icons">
    <a href="https://facebook.com" target="_blank" class="text-gray-400 hover:text-white">
        <i class="fab fa-facebook-f"></i> Facebook
    </a>
    <a href="https://twitter.com" target="_blank" class="text-gray-400 hover:text-white">
        <i class="fab fa-twitter"></i> Twitter
    </a>
    <a href="https://instagram.com" target="_blank" class="text-gray-400 hover:text-white">
        <i class="fab fa-instagram"></i> Instagram
    </a>
    <a href="https://linkedin.com" target="_blank" class="text-gray-400 hover:text-white">
        <i class="fab fa-linkedin-in"></i> LinkedIn
    </a>
</div>
